<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluster Plot</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Your data</h1>
    <div id="plot-container">
        <p id="loading-message">Processing... Please wait.</p>
        <iframe id="plot-frame" src="" width="100%" height="600px" style="display: none;"></iframe>
    </div>
    <h2>Download Your Sorted Images</h2>
    <div>
        <form method="get" action="{{ url_for('download_zip', task_id=task_id) }}">
            <button type="submit">Download</button>
        </form>
    </div>
    <script>
        function checkStatus() {
            $.ajax({
                url: "{{ url_for('task_status', task_id=task_id) }}",
                success: function(data) {
                    if (data.status === "SUCCESS") {
                        $("#loading-message").hide();
                        $("#plot-frame").attr("src", data.result).show();
                    } else if (data.status === "PENDING") {
                        setTimeout(checkStatus, 2000); // Retry after 2 seconds
                    } else {
                        $("#loading-message").text("An error occurred.");
                    }
                }
            });
        }

        $(document).ready(function() {
            checkStatus();
        });
    </script>
</body>
</html>